{%extends 'pages.html'%}

{%block filter%}
<div class="text-center mt-3 mb-5">
        <h2>Your Groups</h2>
        <h4 class="secondary">Use filter to select a list of groups</h4>
    </div>
    <form action="" method="post" class="mx-auto col-6 text-center">
    {{ form.hidden_tag() }}
    {{form.activity.label}}<br>
    {{form.activity(class="form-control")}}
            {% for error in form.activity.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
    {{form.submit(type='submit' ,class="btn btn-primary col-3 mx-auto mt-2")}}
    </form>
{%endblock%}
