{% extends 'base.html' %}

{% block content%}
<div class="nav ml-5">
    {%if typ == 'events'%}
        <a class="nav-link h3" href=/vkg/filter/{{typ}}/all>к событиям</a>
    {%else%}
        <a class="nav-link h3" href=/vkg/filter/{{typ}}/all>к группам</a>
    {%endif%}
    </div>
<h2 class="text-center m-0 p-2">{{title}}</h2>
<div class="mx-auto col-10 ml-10">

    {%if groups|length == 0%}
        <h3 class="text-secondary text-center">упс! похоже у вас нет таких страниц.</h3>
    {%else%}
    {%for g in groups%}
        <div class="row my-2 mx-2 my-3 col-10">

            <form method="post" class="d-inline pt-3">
                {{ page.hidden_tag() }}
                <p>{{ page.submit(class="btn btn-danger  mx-2", type="submit") }}</p>
                <p hidden id="id">{{page.p_id(value=g['id'])}}</p>
                <p hidden id="typ">{{page.p_typ(value=g['type'])}}</p>
            </form>

                <div class="d-inline" ><a class="link" >
                    <img src={{g['photo_100']}} class="rounded">
                </a></div>
                <div class="d-inline text-break col-8 pt-3">
                    <h5 class="my-0">{{g['name']}}</h5>

                    {%if typ == 'events'%}
                        {%if g['was'] == 1%}
                            <h6 class="pl-2 text-danger">{{g['activity']}}</h6>
                        {%else%}
                            <h6 class="pl-2 text-success">{{g['activity']}}</h6>
                        {%endif%}
                    {%else%}
                        <h6 class="pl-2 text-success">  {{g['status']}}</h6>

                    {%endif%}
                </div>

        </div>
    {%endfor%}
    {%endif%}
</div>

{% endblock%}